body{
	font-family: Calibri, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
}

.clearfix:after{
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div{
	box-sizing: border-box;
}

header{
	background: url(../img/background.png) no-repeat center top / cover;
	height: 1200px; /*переделать!!!!*/

}

.container{
	margin: 0 auto;
	margin-left: 150px;
}

.logo{
	float: left;
	margin-top: 10px;
}

nav{
	float: left;
	margin-left: 50px;
}


.menu{
	padding: 0;
	margin: 0;
	display: block;
}

.menu li{
	display: inline;
	margin-top: 10px; 
	float: left;
	margin-right: 20px;
	line-height: 2.6em;
}

.items:hover{
    border: 2px solid #fff;
    border-radius: 10px;
}

.items{
    border: 2px solid transparent;
}

.menu li a{
	color: #fff;
	padding: 0 30px;
	text-decoration: none;
	font-size: 20px;
}


.maskscontent_item{
	width: 600px;
	float: left;
}


.maskstitles_first{
	margin-top: 180px; 
	font-size: 50px;
	color: #fff;
	text-align: left;
}

.maskstitles_second{	
	font-size: 25px;
	color: #fff;
	text-align: left;
}



.masklogo{
	margin-left: 30px;
	margin-top: 100px;
}


